body {
  /*background-color: #001f3f;*/
  background-color: #e9ebee;
}

svg text {
  user-select: none;
  cursor: default;
}

.heading {
  padding: 0.1em;
  margin: 0.2em;
}

.tile, .tile * {
  transition: all 0.3s ease;
}

.tile rect {
    fill: #ddd;
}

rect.shadow {
  fill: #aaa;
}

.tile:hover rect {
  fill: #ccc;
}


.tile:active {
  transform: translate(0, 0.5em);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.tile:active rect {
  fill: #ccc;
}
